version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: ha-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh --quiet
      interval: 10s
      timeout: 5s
      retries: 5

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: ha-server
    ports:
      - "5001:5001"
    env_file: .env
    environment:
      - MONGO_URI=mongodb://mongo:27017/home_accounting
    depends_on:
      mongo:
        condition: service_healthy
    volumes:
      - ./server/src:/app/src

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: ha-client
    ports:
      - "4200:4200"
    depends_on:
      - server
    volumes:
      - ./client/src:/app/src

volumes:
  mongo-data:
